/*Codigo para resetar o CSS padrão do navegador**/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    --cor1: #ccc;
    --cor2: #000000;
    --cor3: #C20000;
    --cor4: #ffffff;
    --cor5: #f1f1f1;
}

/*Fim do codigo para resetar o CSS padrão do navegador**/

body{
    font-size: 100%;
}

/** Começo do codigo do header**/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 119px;
    border-bottom: 2px solid var(--cor1);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

.cabecalho_menu{
    display: flex;
    margin-left: 500px;
    margin-right: -70px;
}

.cabecalho_item{
    color: var(--cor2);
    padding: 50px;
}

.usuario_cabecalho{
    display: flex;
    align-items: center;
}

.cabecalho_logo{
    width: 179px;
    height: 101px;
}


.notificacao{
    width: 30px;
    height: 30px;
}

.foto_usuario{
    width: 55px;
    height: 55px;
    margin-right: 5px;
}

.nome_usuario{
    margin-right: 5px;
}

.cabecalho_item:hover{
    background-color: var(--cor3);
    color: var(--cor4);
}



    /** Começo do menu dropdown notificação **/

.dropbtn {
  color: var(--cor4);
  font-size: 16px;
  border: none;
  width: 29px;
  margin-right: 70px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: var(--cor5);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.link_estilo{
    border-bottom: 1px solid var(--cor2);
    font-size: 14px;
}

.dropdown-content a {
  color: var(--cor2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: var(--cor3); color: var(--cor4);}

.dropdown:hover .dropdown-content {display: block;}


    /** Começo do menu dropdown perfil **/

.dropbtn_perfil {
    color: var(--cor4);
    font-size: 16px;
    border: none;
    width: 50px;
  }
  
  .dropdown_perfil {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .dropdown-content_perfil {
    display: none;
    position: absolute;
    background-color: var(--cor5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content_perfil a {
    color: var(--cor2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content_perfil a:hover {background-color: var(--cor3); color: var(--cor4);}
  
  .dropdown_perfil:hover .dropdown-content_perfil {display: block;}
  
    /** Fim do menu dropdown**/  
    
    
/** Fim do header**/

/** Inicio conteudo principal**/

/** Inicio escrita vermelha e preta**/
#ac{
    font-size: 54px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    margin-top: 60px;
}

#aluno{
    color: #C20000;
}

/** fim escrita vermelha e preta**/

.conteudo_principal{
    display: block;
}

.card{
    margin: auto;
    width: 930px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor5);
    margin-top: 50px;
    margin-bottom: 50px;
}

.campos{
    width: 700px;
    height: 40px;
    background-color: var(--cor1);
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

.botao{
    display: inline-block;
    background-color: var(--cor3);
    color: var(--cor4);
    width: 170px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.direita{
    display: inline-block;
    margin-top: 0px;
    width: 700px;
}

.esquerda{
    float: right;
}

.foto_perfil{
    width: 150px;
    height: 150px;

}

/** fim conteudo principal**/

/** Inicio da sessão rodapé **/

.rodape{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 60px;
}

.rodape_item{
    text-decoration: none;
    color: var(--cor2);
}

.rodape_item:hover{
    text-decoration: underline;
}



.cabecalho_logo_rodape{
    height: 50px;
}


.local_loguinhos{
    margin-right: 30px;
}

.loguinho{
    height: 20px;
    margin-left: 20px;
}

/** Fim da sessão rodapé **/


