@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    --cor1: #ccc;
    --cor2: #000000;
    --cor3: #C20000;
    --cor4: #ffffff;
    --cor5: #f1f1f1;
}

/*Fim do codigo para resetar o CSS padrão do navegador**/

body{
    font-size: 100%;
}

/** Começo do codigo do header**/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 119px;
    border-bottom: 2px solid var(--cor1);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

.cabecalho_menu{
    display: flex;
    margin-left: 500px;
    margin-right: -70px;
}

.cabecalho_item{
    color: var(--cor2);
    padding: 50px;
}

.usuario_cabecalho{
    display: flex;
    align-items: center;
}

.cabecalho_logo{
    width: 179px;
    height: 101px;
}


.notificacao{
    width: 30px;
    height: 30px;
}

.foto_usuario{
    width: 55px;
    height: 55px;
    margin-right: 5px;
}

.nome_usuario{
    margin-right: 5px;
}

.cabecalho_item:hover{
    background-color: var(--cor3);
    color: var(--cor4);
}



    /** Começo do menu dropdown notificação **/

.dropbtn {
  color: var(--cor4);
  font-size: 16px;
  border: none;
  width: 29px;
  margin-right: 70px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: var(--cor5);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.link_estilo{
    border-bottom: 1px solid var(--cor2);
    font-size: 14px;
}

.dropdown-content a {
  color: var(--cor2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: var(--cor3); color: var(--cor4);}

.dropdown:hover .dropdown-content {display: block;}


    /** Começo do menu dropdown perfil **/

.dropbtn_perfil {
    color: var(--cor4);
    font-size: 16px;
    border: none;
    width: 50px;
  }
  
  .dropdown_perfil {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .dropdown-content_perfil {
    display: none;
    position: absolute;
    background-color: var(--cor5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content_perfil a {
    color: var(--cor2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content_perfil a:hover {background-color: var(--cor3); color: var(--cor4);}
  
  .dropdown_perfil:hover .dropdown-content_perfil {display: block;}
  
    /** Fim do menu dropdown**/  
    
    
/** Fim do header**/

/** Começo area esquerda da pagina **/
.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 160px;
}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.campos{
   width: 400px;
   height: 63px;
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   font-weight: 700px;
   color: #000000;
   border-radius: 30px 0px 30px 0px;
   background-color: var(--cor6);
   padding-left: 20px;
   text-decoration: none;
   outline: none;
   font-weight: 500;
   
}





/** Fim area esquerda da pagina **/


/** começo area direita da pagina **/

#pfp{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 3px solid  var(--cor6);
}

label{
    font-family: 'Inter', sans-serif;
    margin-bottom: -35px;
    font-size: 1.5em;
}

.direita{
    margin-top: 80px;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    cursor: pointer;
    
}

.campos_direita{
    padding-bottom: 10px;
    height: 570px;
    width: 430px;
    border-radius: 30px 0px 30px 0px;
    background-color: var(--cor6);
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    outline: none;
    padding-bottom: 500px;
    padding-left: 20px;
}

#info{
    height: 300px;
    width: 400px;
    background-color: var(--cor6);
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px 0px 30px 0px;
    padding: 15px;
    outline: none;
    text-align: justify;
}

#links{
    height: 200px;
    width: 400px;
    background-color: var(--cor4);
    border-radius: 30px 0px 30px 0px;
    padding: 15px;
    font-size: 18px;
    font-family: 'inter';
    outline: none;
    font-weight: 500;
}





/** fim area direita da pagina**/

/** começo botoes **/
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 50px;
    
}

.cancelar{
    width: 295px;
    height: 83px;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.atualizar{
    width: 295px;
    height: 83px;
    background-color: #C20000;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.atualizar:hover{
    background-color: #cc0303;
}

.cancelar:hover{
    background-color: rgb(19, 18, 18);
}
/** Fim botoes**/

/** começo da sessão rodapé **/
.rodape{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 60px;
}

.rodape_item{
    text-decoration: none;
    color: var(--cor2);
}

.rodape_item:hover{
    text-decoration: underline;
}



.cabecalho_logo_rodape{
    height: 50px;
}


.local_loguinhos{
    margin-right: 30px;
}

.loguinho{
    height: 20px;
    margin-left: 20px;
}

/** Fim da sessão rodapé **/