@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    --cor1: #ccc;
    --cor2: #000000;
    --cor3: #C20000;
    --cor4: #ffffff;
    --cor5: #f1f1f1;
}

/*Fim do codigo para resetar o CSS padrão do navegador**/

body{
    font-size: 100%;
}

/** Começo do codigo do header**/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 119px;
    border-bottom: 2px solid var(--cor1);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}

.cabecalho_menu{
    display: flex;
    margin-left: 500px;
    margin-right: -70px;
}

.cabecalho_item{
    color: var(--cor2);
    padding: 50px;
}

.usuario_cabecalho{
    display: flex;
    align-items: center;
}

.cabecalho_logo{
    width: 179px;
    height: 101px;
}


.notificacao{
    width: 30px;
    height: 30px;
}

.foto_usuario{
    width: 55px;
    height: 55px;
    margin-right: 5px;
}

.nome_usuario{
    margin-right: 5px;
}

.cabecalho_item:hover{
    background-color: var(--cor3);
    color: var(--cor4);
}



    /** Começo do menu dropdown notificação **/

.dropbtn {
  color: var(--cor4);
  font-size: 16px;
  border: none;
  width: 29px;
  margin-right: 70px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1px;
  background-color: var(--cor5);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.link_estilo{
    border-bottom: 1px solid var(--cor2);
    font-size: 14px;
}

.dropdown-content a {
  color: var(--cor2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: var(--cor3); color: var(--cor4);}

.dropdown:hover .dropdown-content {display: block;}


    /** Começo do menu dropdown perfil **/

.dropbtn_perfil {
    color: var(--cor4);
    font-size: 16px;
    border: none;
    width: 50px;
  }
  
  .dropdown_perfil {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .dropdown-content_perfil {
    display: none;
    position: absolute;
    background-color: var(--cor5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content_perfil a {
    color: var(--cor2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content_perfil a:hover {background-color: var(--cor3); color: var(--cor4);}
  
  .dropdown_perfil:hover .dropdown-content_perfil {display: block;}
  
    /** Fim do menu dropdown**/  
    
    
/** Fim do header**/



/** Começo da seção de busca **/

.busca h1 {
    width: 500px;

    font-weight: 700px;
    font-size: 40px;
    line-height: 73px;
    margin-left: 15%;
    margin-top: 10%;
}

.busca p {
    width: 400px;
    margin-left: 15%;
    font-weight: 300px;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
}

.muie_chapeleta {
    float: right;
    width: 1300px;
    height: 1300px;
    margin-top: -30%;
}

.busca input {
    clear: right;
    margin-top: 3%;
    margin-left: 14%;
    width: 37%;
    height: 40px;
    font-size: 23px;
    text-align: center;
    border-radius: 0px 30px 30px 0px;
}

.posi{
    clear: right;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.filtros{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 540px;
    border: 5px solid #000000;
    margin-top: -60%;
    border-radius: 0px 60px 60px 0px;
}

.informa{
    display: block;
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 2px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.titulo_vaga{
    color: var(--cor3);
    font-weight: bold;
    margin-bottom: 10px;
}

.card_vaga{
    border: 2px solid var(--cor2);
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor5);
    margin-bottom: 10px;
    width: 95%;
}

.card_vaga > p{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

.filtros h4{
    margin-top: 5%;
    margin-left: 5%;
}

.botoes{
    margin-left: 5%;
    margin-top: 3%;
}

.vagas{
    display: flex;
    flex-direction: column;
    margin-top: -30%;
    margin-left: 3%;
    gap: 15px;
}


.vagas h3{
   border-bottom: 1px solid black;
   font-size: 24px;
}

.local{
    
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.data_local{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mostrar_mais{
    margin-top: 2%;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 10px;
    margin-bottom: 50px;
    border: none;
}


.rodape{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 60px;
}

.rodape_item{
    text-decoration: none;
    color: var(--cor2);
}

.rodape_item:hover{
    text-decoration: underline;
}



.cabecalho_logo_rodape{
    height: 50px;
}


.local_loguinhos{
    margin-right: 30px;
}

.loguinho{
    height: 20px;
    margin-left: 20px;
}
/** Fim da sessão rodapé **/